* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

/* Here are class properties */

.accordian {
  width: 70%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.accordian-items {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}

.header-number,
.header-text {
  font-size: 24px;
  font-weight: 600;
}
.header-number {
  color: #adb5bd;
}

.open .hidden-box {
  display: block;
}

.open {
  border-top: 5px #099268 solid;
}

.open .header-number,
.open .header-text {
  color: #099268;
}

.header-icon {
  height: 24px;
  width: 24px;
  stroke: #099268;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #28292a;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
color: #099268;
