<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omnifood Hero Section</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="hero.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="container nav--container">
        <div>LOGO</div>
        <div>NAVIGATION</div>
      </nav>
      <div class="header-container">
        <div class="header-container-inner">
          <h1>A healthy meal delivered to your door, every single day</h1>
          <p>
            The smart 365-days-food-per-year subscription that will make you eat
            healthy again. Tailored to your personal tastes and nutritional
            needs
          </p>
          <a href="#" class="btn">Start eating well</a>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2>Some random heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero id
          cum dolorum culpa quaerat assumenda sequi ea atque officiis suscipit
          architecto, vel modi voluptas sunt enim omnis molestiae eos et.
          Dignissimos natus consequatur labore aspernatur inventore doloremque
          odit sint beatae ipsa repudiandae numquam rerum voluptatum, sed
          praesentium fugiat deleniti aperiam fuga aliquid odio quo accusamus.
          Ipsum, harum temporibus animi itaque explicabo nam necessitatibus
          suscipit quis placeat facere nisi quas, unde corrupti, id cum.
          Delectus voluptate culpa rem dicta, minima reprehenderit animi sunt!
        </p>
      </div>
    </section>
  </body>
</html>
