<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tables in Web</title>
    <link href="table.css" rel="stylesheet" />
  </head>
  <body>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Chair</th>
            <th>The Laid Back</th>
            <th>The Worker Bee</th>
            <th>The Chair 4/2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Height</th>
            <td>80 cm</td>
            <td>60 cm</td>
            <td>40 cm</td>
          </tr>
          <tr>
            <th>Depth</th>
            <td>70 cm</td>
            <td>60 cm</td>
            <td>90 cm</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>16 kg</td>
            <td>22 kg</td>
            <td>80 kg</td>
          </tr>
          <tr>
            <th>Limit</th>
            <td>16 kg</td>
            <td>22 kg</td>
            <td>80 kg</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
