* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}
.table-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 64px;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  padding: 16px 24px;
  text-align: left;
}
thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
